:root {
  --A4-width: 210mm;
  --A4--height: 297mm;
}

html,
body {
  max-width: var(--A4-width);
  max-height: var(--A4--height);
}

body {
  background-color: rgb(123, 0, 255);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.test {
  width: var(--A4-width);
  height: var(--A4--height);
  background-color: bisque;
}

@page {
  size: A4;
}
