<main class="main">
  {% include "partials/main/skills.njk" %}
  {% include "partials/main/learning.njk" %}
  {% include "partials/main/works.njk" %}
  {% include "partials/main/education.njk" %}
  {% include "partials/main/about-me.njk" %}
</main>
