<main class="main">
  <section class="technologies-stack-section">
    <h3 class="technologies-stack-section__title">Навыки</h3>
    <ul class="technologies-stack-section__technologies-list">
      <li class="technologies-stack-section__technologies-enumeration">
        React, Redux, Redux Toolkit, RTK Query,
      </li>
      <li class="technologies-stack-section__technologies-enumeration">
        Javascript, Typescript, HTML5, CSS3, CSS Preprocessors
      </li>
      <li class="technologies-stack-section__technologies-enumeration">
        Webpack, Vite, Code Linters
      </li>
    </ul>
  </section>
  {% include "partials/main/learning.njk" %}
  {% include "partials/main/works.njk" %}
</main>
