{% block about_me %}
  {% if language == language_ru %}
    {% include "./about-me.ru.njk" %}
  {% elif language == language_en %}
    {% include "./about-me.en.njk" %}
  {% endif %}
{% endblock about_me %}
