{% block about_me_ru %}
  <section class="about-me-section">
    <h3>О себе</h3>
    <p class="about-me-description">
      &emsp;&emsp;Испытываю большой интерес к веб-разработке и хочу развиваться в этой области.
      Начинал с изучения фронтенда, но понимаю, что для построения комплексных веб-приложений
      необходимо владеть как навыками дизайна интерфейсов, так и умением построения серверной части.
      Поэтому в настоящее время изучаю backend-разработку.
    </p>
    <p class="about-me-description">
      &emsp;&emsp;Среди frontend технологий специализируюсь на React и его окружении.
      В качестве серверного языка использую C# и .NET Core. 
      но всегда открыт к изучению новых технологий. В своих pet-проектах люблю экспериментировать 
      с различными иструментами, фреймворками и новинками технологий.
    </p>
  </section>
{% endblock about_me_ru %}
