{% block about_me_en %}
  <section class="about-me-section">
    <h3>About me</h3>
    <p class="about-me-description">
      &emsp;&emsp;I have a great interest in web development and want to progress in this area.
      Having started by studying frontend, now I understand that to build complex web applications
      it is necessary to have both interface design skills and the ability to build a server part.
      Therefore, backend development learning is in progress.
    </p>
    <p class="about-me-description">
      &emsp;&emsp;Among frontend technologies, I specialize in React and its environment.
      As for the backend, the preferences are C# and .NET Core.
      But I am always open to exploring new things and love to experiment
      with various tools, frameworks and recent technologies in my pet projects.
    </p>
  </section>
{% endblock about_me_en %}
