{% extends "layout.njk" %}

{% block first_page %}
  {% include "first-page/page.njk" %}
{% endblock first_page %}

{# {% block second_page %}
  {% include "second-page/page.njk" %}
{% endblock second_page %} #}
