{% import "macros/macros.njk" as macros %}

{% block name %}
  <section class="about-me-section">
    <h3>О себе</h3>
    <p class="about-me-description">
      &emsp;&emsp;Испытываю большой интерес к веб-разработке и хочу развиваться в этой области.
      Мне нравится работать над интерфейсами, делать их отзывчивыми и удобными,
      поэтому в настоящее время активно изучаю frontend направление.
      В планах также детальнее изучить разработку серверной части,
      чтобы иметь целостное представление о построении веб-приложений.
    </p>
    <p class="about-me-description">
      &emsp;&emsp;Среди текущих технологий специализируюсь на React и его окружении,
      но всегда открыт к изучению новых технологий.
      В своих pet-проектах люблю экспериментировать с различными
      инструментами, state-менеджерами, библиотеками.
    </p>
  </section>
{% endblock %}
