{% block name %}
  <section class="about-me-section">
    <h3>О себе</h3>
    <p class="about-me-description">
      Начинающий frontend разработчик, стремящийся к профессиональному росту в сфере веб-разработки
    </p>
  </section>
{% endblock %}
