{% macro education_place(
  date="",
  organization="",
  specialization=""
  ) %}
  <li class="education-place">
    <span><em>{{ date }}:</em> {{ organization }}</span>
    <br>
    <span>Профиль: {{ specialization }}</span>
  </li>
{% endmacro %}

{% block education_info %}
  <section class="education-section">
    <h3>Образование</h3>
    <ul class="education-places-list">
      {{ education_place(date="2023",
            organization="Яндекс Практикум",
            specialization="Frontend Developer") }}
      {{ education_place(date="2017-2022",
            organization="Московский Физико-Технический Институт",
            specialization="компьютерное моделирование") }}
    </ul>
  </section>
{% endblock %}
