<header class="cv-header">
  <section class="photo-section">
    <img src="./assets/photo.jpg"
         id="photo" />
  </section>
  <section class="info-section">
    <div class="info-section__header-wrapper">
      <h1>Артур Исаев</h1>
    </div>
    <ul class="info-section__info-list">
      <li class="info-section__info-point">Frontend Developer</li>
      <li class="info-section__info-point">Год Рождения: 1999</li>
    </ul>
  </section>
  <section class="contacts-section">
    <div class="contacts-section__header-wrapper">
      <h2 class="contacts-section__header">Контакты</h2>
    </div>
    <ul class="contacts-section__contacts-list">
      <li class="contacts-section__contact">
        <span class="contacts-section__contact-info-header">Email:</span>
        <span class="contacts-section__contact-info">arturisaev.me@gmail.com</span>
      </li>
      <li class="contacts-section__contact">
        Telegram:
        <contacts-section__contact-info>@Arturi_Is</contacts-section__contact-info>
      </li>
    </ul>
  </section>
</header>
