<main class="main">
  <section class="technologies-stack-section">
    <h3 class="technologies-stack-section__title">Навыки</h3>
    <ul class="technologies-stack-section__technologies-list">
      <li class="technologies-stack-section__technologies-enumeration">
        React, Redux, Redux Toolkit, RTK Query,
      </li>
      <li class="technologies-stack-section__technologies-enumeration">
        Javascript, Typescript, HTML5, CSS3, Sass
      </li>
      <li class="technologies-stack-section__technologies-enumeration">
        Webpack, Vite, Code Linters
      </li>
    </ul>
  </section>
  <section class="work-experience-section">
    <section class="learning-experience-section">
      <h3 class="learning-experience-section__title">Учебный опыт</h3>
      <ul class="learning-projects-list">
        <li class="learning-project">
          <h4 class="learning-project__title">Мессенджер</h4>
          <span class="learning-project__functionality-description">123</span>
          <span class="learning-project__technologies-description"></span>
        </li>
      </ul>
    </section>

  </section>
</main>
