{% import "macros/macros.njk" as macros %}

{% macro work_place(
  organization="",
  post="",
  date="",
  description=[]
  ) %}
  <li class="work-place">
    <span class="work-place__date">
      <em>{{ date }}</em>
    </span>
    <br>
    <span class="work-place__post">
      Место работы: {{ post }}, {{ organization }}
    </span>
    <br>
    <span class="work-place__description">
      {{ macros.multiline(lines=description) }}
    </span>
    <br>
  </li>
{% endmacro %}

<section class="work-experience-section">
  <h3 class="work-experience-section__title">Опыт работы</h3>
  <ul class="works-list">
    {{ work_place(date="2022 (стажировка)",
        post="QA/тестировщик",
        organization="МониторСофт",
        description=[
        "В мои обязанности входило автоматическое тестирование веб-сервиса для документооборота с применением selenium и pytest.",
        "\n", "Занимаясь преимущественно UI-тестированием, научился ценить понятный и удобный интерфейс "]) }}
  </ul>
</section>
