{% block education_info %}
  {% if language == language_ru %}
    {% include "./education.ru.njk" %}
  {% elif language == language_en %}
    {% include "./education.en.njk" %}
  {% endif %}
{% endblock education_info %}
