{% from "./skills-enumeration.macro.njk" import skills_enumeration with context %}

{% block technical_skills_ru %}
  <section class="technologies-stack-section">
    <h3 class="technologies-stack-section__title">Навыки</h3>
    <ul class="technologies-stack-section__technologies-list">
      {{ skills_enumeration(title="Языки",
            skills=["Javascript", "Typescript", "C#"]) }}
      {{ skills_enumeration(title="Фреймворки/библиотеки",
            skills=["React", "Redux Toolkit", "RTK Query"]) }}
      {{ skills_enumeration(title="Верстка",
            skills=["Scss", "Postcss", "Tailwind", "Handlebars"]) }}
      {{ skills_enumeration(title="Сборщики",
            skills=["Webpack", "Vite", "Gulp"]) }}
      {{ skills_enumeration(title="Сервер",
            skills=["Docker", "Nginx", "PostgreSQL", ".NET Core") }}
      {{ skills_enumeration(title="Code Linters",
            skills=["Eslint", "Stylelint", "CSpell", "Lefthook"]) }}
    </ul>
  </section>
{% endblock technical_skills_ru %}
