{% extends "layouts/page.njk" %}

{% block page_content %}

  {% block education %}
    {% include "partials/education.njk" %}
  {% endblock education %}

  {% block about_me %}
    {% include "partials/about-me.njk" %}
  {% endblock about_me %}

{% endblock page_content %}
