<div class="page">

  {% block about-me %}
    {% include "partials/about-me.njk" %}
  {% endblock about-me %}

  {% block education %}
    {% include "partials/education.njk" %}
  {% endblock education %}

</div>
