{% extends "layouts/page.njk" %}

{% block page_content %}

  {% block header %}
    {% include "partials/header.njk" %}
  {% endblock header %}

  {% block main %}
    {% include "first-page/main.njk" %}
  {% endblock main %}

{% endblock page_content %}
