{% set theme_dark = "dark" %}
{% set theme_light = "light" %}
{% set theme = theme_dark %}

{% set language_ru = "ru" %}
{% set language_en = "en" %}
{% set language = language_en %}

{% block content_with_preferences %}
{% endblock content_with_preferences %}

