{% block experience %}

    {% block work_experience %}
      {% include "partials/experience/works.njk" %}
    {% endblock work_experience %}

    {% block learning_experience %}
      {% include "partials/experience/pet-projects.njk" %}
    {% endblock learning_experience %}
    
{% endblock experience %}
