{% import "macros/macros.njk" as macros %}

{% macro pet_project(
  title="",
  description=[],
  technologies="",
  github="") %}
  <li class="learning-project">
    <span><em class="learning-project__title">{{ title }}</em></span>
    <br>
    <span class="learning-project__functionality-description">
      <em>Описание:</em>
      {{ macros.multiline(lines=description) }}
    </span>
    <br>
    <span class="learning-project__technologies-description">
      <em>Технологии:</em>
      {{ macros.multiline(lines=technologies, liens_sep=", ") }}
    </span>
    <br>
    <span class="learning-project__github-link">
      <em>GitHub:</em><a href={{ github }}> <em>{{ github }}</em></a>
    </span>
  </li>
{% endmacro %}

<section class="learning-experience-section">
  <h4 class="learning-experience-section__title">
    <em>01/2023 - Н.В.</em>
  </h4>
  <span>Место работы: Яндекс Практикум(обучение), Frontend Developer</span>
  <span>Проекты:</span>
  <ul class="learning-projects-list">
    {{ pet_project(title="Мессенджер",
        description=["Веб-мессенджер в виде single page application.",
        "\n", "\t", "Реализованы чаты в реальном времени, регистрация, профиль пользователя",
        "\n", "\t", "Интерфейс написан с помощью собственного компонента на основе JS Proxy",
        "\n", "\t", "Из библиотек используется только html-шаблонизатор"],
        technologies=["Webpack, Typescript, WebSocket, Handlebars, Less"],
        github="https://github.com/PetProjectsMy/Messenger") 
    }}
    {{ pet_project(title='Игра "Among Us"',
        description=["Проект командной разработки в рамках курса.",
        "\n", "\t",
        "Особенности: мультиплеер, таблица рейтингов, oauth, регистрация и профиль пользователя, собственный backend",
        "\n", "\t",
        "С моей стороны: реализованы часть интерфейсов и API, service worker на typescript, nginx и ssl для хостинга"
        ],
        technologies=[
        "\n", "\t", "Lerna, Vite, SSR, React, Redux, RTK Query,",
        "\n", "\t", "Canvas, Postcss, Service Worker,",
        "\n", "\t", "Express, socket.io, Docker, Sequelize, Postgres, Nginx"
        ],
        github="https://github.com/Reactivnye-Enoty-Na-Lyzhan/among-us") 
    }}
  </ul>
</section>
