{% import "macros/text-helpers.njk" as text_helpers %}

{% macro pet_project(
  title="",
  description="",
  features=[],
  implemented_by_me=[],
  technologies="",
  github="") 
%}
  <li class="pet-project">
    <span><em class="pet-project__title">{{ title }}</em></span>
    <br>
    <span class="pet-project__functionality-description">
      <em>Описание: </em>{{ description }}
      <br>
      {{ text_helpers.multiline(
        lines=features,
        line_prefixes=["\t", "-"])
      }}
    </span>
    <br>

    {% if implemented_by_me.length > 0 %}
      <span class="pet-project__implemented-by-me">
        <em>C моей стороны:</em>
        {{ text_helpers.multiline(lines=implemented_by_me) }}
      </span>
      <br>
    {% endif %}

    <span class="pet-project__technologies-description">
      <em>Технологии:</em>
      {{ text_helpers.multiline(lines=technologies, line_prefixes=["\t"]) }}
    </span>
    <br>

    <span class="pet-project__github-link">
      <em>GitHub:</em><a href={{ github }}> <em>{{ github }}</em></a>
    </span>
  </li>
{% endmacro %}

<section class="experience-section">
  <h3 class="experience-section__header">Пет-проекты:</h3>
  <ul class="pet-projects-list">
    {{ pet_project(
      title="Мессенджер",
      description="Веб-мессенджер в виде single page application",
      features=[
        "Реализованы чаты в реальном времени, регистрация, профиль пользователя",
        "Интерфейс написан с помощью собственного компонента на основе JS Proxy",
        "Из библиотек используется только html-шаблонизатор"
      ],
      technologies=["Webpack, Typescript, WebSocket, Handlebars, Less"],
      github="https://github.com/PetProjectsMy/Messenger") 
    }}
    {{ pet_project(
      title='Игра "Among Us"',
      description="Проект командной разработки в рамках курса",
      features=[
        "мультиплеер, таблица рейтингов",
        "oauth, регистрация и профиль пользователя"
      ],
      implemented_by_me=[
        "реализованы часть интерфейсов и API",
        "\t", "service worker на typescript, nginx и ssl для хостинга"
      ],
      technologies=[
        "Lerna, Vite, SSR, React, Redux, RTK Query,",
        "Canvas, Postcss, Service Worker,",
        "Express, socket.io, Docker, Sequelize, Postgres, Nginx"
      ],
      github="https://github.com/Reactivnye-Enoty-Na-Lyzhan/among-us") 
    }}
  </ul>
</section>
