.first-page-main {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 0 var(--page-content-padding) 7mm;
}

.first-page-main > *[class$="section"] {
  margin-bottom: auto;
}

.work-places-list,
.pet-projects-list {
  list-style-type: disc;

  li::marker {
    color: var(--font-color-emphasized);
  }
}

.technologies-stack-section__technologies-enumeration,
.education-places-list,
.pet-project,
.experience-section__main {
  margin-left: 5mm;
}

.pet-project {
  margin-bottom: 2mm;
}

.education-place {
  margin-bottom: 3mm;
}

.about-me-description {
  margin: 0 5mm;
}
