.first-page-main {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 0 var(--page-content-padding) 7mm;
}

.first-page-main > *[class$="section"] {
  margin-bottom: auto;
}

.learning-experience-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3mm;
}

.learning-experience-section__title {
  margin-block-start: 0;
  margin-block-end: 0;
}

.learning-projects-list {
  list-style-type: disc;

  li::marker {
    color: var(--font-color-emphasized);
  }
}

.technologies-stack-section__technologies-enumeration,
.learning-project,
.education-places-list,
.work-experience-section,
.learning-experience-section {
  margin-left: 5mm;
}

.learning-project {
  margin-bottom: 2mm;
}

.education-place {
  margin-bottom: 3mm;
}

.about-me-description {
  margin: 0 5mm;
}
