@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--links-color);
  text-decoration-line: none;

  &:visited {
    color: var(--links-color);
  }
}

ul {
  list-style-type: none;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

html {
  font-family: "Times New Roman", serif;
  font-size: var(--font-size-normal);

  print-color-adjust: exact;
}

strong {
  color: var(--font-color-strong);
}

em {
  font-style: normal;
  color: var(--font-color-emphasized);
}

.font-usual {
  font-size: var(--font-size-normal);
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: var(--font-size-medium);
  color: var(--font-color--main);
}

// without this printing in Firefox as A4 has a thin lines on edges
// Can be checked by setting body background-color as commented below
@page {
  size: A4;
}
// @media print {
//   body {
//     background-color: red;
//   }
// }
