@use "sass:color";

:root {
  --A4-width: 210mm;
  --A4-height: 297mm;
  --header-background-color: rgb(62, 68, 70);
  --main-part-background-color: rgb(77, 84, 87);

  --font-color: #ffffff;
  --links-color: rgb(243, 223, 223);

  --font-size-normal: 20px;
  --h1-font-size: 32px;
  --h2-font-size: 28px;
}

$font-color: white;

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--links-color);

  &:visited {
    color: var(--links-color);
  }
}

ul {
  list-style-type: none;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

html {
  font-family: "Times New Roman", serif;
  font-size: var(--font-size-normal);

  print-color-adjust: exact;
}

strong {
  color: color.adjust($color: $font-color, $lightness: -15%);
}

em {
  font-style: normal;
  color: color.adjust(
    $red: 20,
    $color: color.adjust($color: $font-color, $lightness: -25%)
  );
}

.font-usual {
  font-size: var(--font-size-normal);
  font-weight: normal;
  font-style: normal;
}

body {
  box-sizing: border-box;
  width: var(--A4-width);
  height: var(--A4-height);
  margin: 0;
  padding: 0;

  font-size: var(--font-size-medium);
  color: var(--font-color);
}
