:root {
  --A4-width: 210mm;
  --A4-height: 297mm;
  --header-background-color: rgb(62, 68, 70);
  --page-background-color: rgb(77, 84, 87);

  --font-color--main: #ffffff;
  --font-color-emphasized: $font-color-emphasized;
  --font-color-strong: $font-color-strong;
  --links-color: var(--font-color--main);

  --font-size-normal: 20px;
  --h1-font-size: 32px;
  --h2-font-size: 28px;
}

$font-color-main: white;
$font-color-emphasized: rgb(255, 236, 236);
$font-color-strong: $font-color-emphasized;
