:root {
  --A4-width: 210mm;
  --A4-height: 297mm;
  --header-background-color: rgb(62, 68, 70);
  --main-part-background-color: rgb(77, 84, 87);

  --font-color: #ffffff;
  --links-color: rgb(243, 223, 223);

  --font-size-normal: 20px;
  --h1-font-size: 32px;
  --h2-font-size: 28px;
}

$font-color: white;
